:root {
    --color-pire-green: #85E28C;
    --color-bg-primary: #FBF9F5;
    --color-gray-300: #E6E7E4;
    --color-gray-50: #FDFDFD;
    --color-gray-dark-800: #1C1C1C;
}

.custom-scrollbar {
  scrollbar-width: none;          /* Firefox */
  -ms-overflow-style: none;       /* IE y Edge */
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;                  /* Chrome, Safari */
}