:root {
    --color-pire-green: #85E28C;
    --color-bg-primary: #FBF9F5;
    --color-green-700: #08660C;
    --color-green-400: #4CAF50;
    --color-gray-300: #E6E7E4;
    --color-gray-50: #FDFDFD;
    --color-gray-900: #1C1C1C;
    --color-orange-300:#FFA53C;
    --color-orange-100:#FFEACB;
}

@font-face {
    font-family: 'Lexend';
    src: url(../fonts/Lexend-VariableFont_wght.ttf) format('woff2-variations');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

.custom-scrollbar {
  scrollbar-width: none;          /* Firefox */
  -ms-overflow-style: none;       /* IE y Edge */
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;                  /* Chrome, Safari */
}

/* Estilos para las estrellas de puntuación */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    cursor: pointer;
}

.star {
    font-size: 1.3rem;
    color: var(--color-gray-300); /* Color de las estrellas no seleccionadas */
    transition: color 0.2s;
}

.star:hover,
.star:hover ~ .star {
    color: var(--color-orange-300); /* Color de las estrellas al pasar el mouse */
}

.star.selected {
    color: var(--color-orange-300); /* Color de las estrellas seleccionadas */
}