{% extends 'base.html.twig' %}

{% block title %}New Ciclo{% endblock %}

{% block body %}
    <h1>Create new Ciclo</h1>

    {{ include('ciclo/_form.html.twig') }}

    <a href="{{ path('app_ciclo_index') }}">back to list</a>
{% endblock %}
