<!-- /components/header.html -->
<header class="bg-[#FAF8F4] border-b-2 border-[#E6E7E4] p-4">
    <div class="max-w-7xl mx-auto flex justify-between items-center">
        <a href="/"><img src="../assets/images/logo.svg" /></a>
        <nav>
            <form action="/login.html">
                <button type="submit"
                    class="bg-[#1C1C1C] text-[#FEFEFE] px-[44px] py-3 rounded-full hover:bg-[#85E28C] hover:text-[#1C1C1C] transition">
                    Iniciar sesión
                </button>
            </form>
        </nav>
    </div>
</header>