<!-- /components/header.html -->
<header class="fixed top-0 left-0 w-full z-50 bg-[#FAF8F4] border-b-2 border-gray-300 p-4">
    <div class="max-w-7xl mx-auto flex justify-between items-center">
        <a href="/"><img src="../assets/images/logo.svg" /></a>
        <nav>
            <form action="/login.html">
                <button type="submit"
                    class="bg-[var(--color-gray-900)] text-[var(--color-gray-50)] px-5 py-3 rounded-full hover:bg-gray-300 hover:text-[var(--color-gray-900)] transition-all duration-300">
                    Iniciar sesión
                </button>
            </form>
        </nav>
    </div>
</header>