<!-- components/sidebar.html -->
<div class="h-full lg:flex lg:w-64 bg-[var(--color-bg-primary)] text-[var(--color-gray-dark-800)] border-r-2 border-[var(--color-grey-300)]">
    <!-- Menú lateral -->
    <div class="lg:block">
        <ul class="flex flex-col p-4 space-y-4">
            <li><a href="#" class="hover:bg-gray-700 p-2 rounded">Dashboard</a></li>
            <li><a href="#" class="hover:bg-gray-700 p-2 rounded">Perfil</a></li>
            <li><a href="#" class="hover:bg-gray-700 p-2 rounded">Configuración</a></li>
            <li><a href="#" id="logoutLink" class="hover:bg-gray-700 p-2 rounded">Cerrar Sesión</a></li>
        </ul>
    </div>
</div>
