{% extends 'base.html.twig' %}

{% block title %}Edit Valoracion{% endblock %}

{% block body %}
    <h1>Edit Valoracion</h1>

    {{ include('valoracion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_valoracion_index') }}">back to list</a>

    {{ include('valoracion/_delete_form.html.twig') }}
{% endblock %}
