{% extends 'base.html.twig' %}

{% block title %}New Valoracion{% endblock %}

{% block body %}
    <h1>Create new Valoracion</h1>

    {{ include('valoracion/_form.html.twig') }}

    <a href="{{ path('app_valoracion_index') }}">back to list</a>
{% endblock %}
